<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I am an iOS developer with more than 5 years of experience. Obsessed with evolving code and software design, I have strong UI, memory and concurrency skills. My skills as an engineer include the design of complex and multi-modular projects, good sense for UI/animations, strong team oriented work and good at holding responsibilities.</p>
</div><!--//summary-->
</section><!--//section-->