<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Belatrix Software</h3>
                <div class="time">2015 - Present</div>
            </div><!--//upper-row-->
        </div><!--//meta-->
        <div class="details">
            <div class="company">Mobile Banking Platform - U.S.A.</div>
            <p>Solution Architect, iOS Technical Lead</p>
            <ul>
                <li>Designed feature architecture in a customizable multi-modular mobile solution used by different banks.</li>
                <li>Coached and trained iOS developers in distributed teams.</li>
                <li>Introduced MVP/VIPER and TDD to the team for new features.</li>
                <li>Improved present retention cycle issues and improper program state in blocks and concurrent flows.</li>
                <li>Implemented memory encrypted text views and secure strings to obscure memory scans, RSA authentication, certificate pinning, etc.</li>
                <li>Implemented pluggable features with code-only UI, customizable appearance and configuration in private libraries.</li>
                <li>Maintained and upgraded CI build scripts and plugins.</li>
            </ul>
        </div><!--//details-->
        <div class="details">
            <div class="company">2 Food Chain iOS Applications - U.S.A</div>
            <ul>
                <li>Improved performance of puzzle game by setting concurrent operations for heavy processes.</li>
                <li>Implemented features that include: Apple Maps, video/YouTube playback, animations, etc.</li>
            </ul>
        </div>
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Sysco AS Norway/Peru</h3>
                <div class="time">2011 - 2015</div>
            </div><!--//upper-row-->
        </div><!--//meta-->
        <div class="details">
            <div class="company">iOS and Android Application for Childcare Employees - Norway</div>
            <ul>
                <li>Implemented application for managing children and childcare operations.</li>
                <li>iOS technologies: MagicalRecord (CoreData), Push notifications, Mantle, Masonry, AFNetworking</li>
                <li>Android technologies: Bolts, OhHttp, Gradle, Gson, Push notifications</li>
            </ul>
        </div><!--//details-->
        <div class="details">
            <div class="company">Family of iOS Applications for Childcare and School Parents - Norway</div>
            <ul>
                <li>Designed architecture and developed multi-modular family of iOS applications with cocoapods and project-level customizable appearance.</li>
                <li>Incorporated Continuous Integration and Delivery with Jenkins and automated test builds deployed to Hockey App.</li>
            </ul>
        </div>
        <div class="details">
            <div class="company">iOS Application for Construction Site Teams - Norway</div>
            <ul>
                <li>Implemented app based on JSON-configured forms for project reporting with offline request caching.</li>
                <li>Technologies: FMDB, AFNetworking, QuickDialog, Push notifications</li>
            </ul>
        </div>
        <div class="details">
            <div class="company">iOS Application for Health Monitoring – Norway</div>
            <ul>
                <li>Implemented health monitoring graphs and scheduled reminders with local notifications.</li>
            </ul>
        </div>
        <div class="details">
            <div class="company">iOS and Android Application for the 2013 “Slottsfjell” Festival – Norway</div>
            <ul>
                <li>Added location based augmented reality for festival spots and Google maps with festival sections and Points of Interest.</li>
            </ul>
        </div>
        <div class="details">
            <div class="company">iOS Application for Drawing and Creation of Multimedia Slides – Perú</div>
            <ul>
                <li>Implemented brush drawing with softening algorithm, image and text manipulation, layer blending, sound recording and playback, video creation and youtube integration.</li>
            </ul>
        </div>
        <div class="details">
            <div class="company">Other iOS and Android Apps</div>
            <ul>
                <li>RESTful service consumption, JSON manipulation, image caching, CoreData and SQLite, custom drawn UIViews and Canvas.</li>
            </ul>
        </div>
    </div><!--//item-->
    
</section><!--//section-->